PROJECT_ENV=dev
LOG_LEVEL=INFO
DATA_DIR=data
MODEL_DIR=models
RANDOM_SEED=42
MLFLOW_TRACKING_URI=
MLFLOW_REGISTRY_URI=
MLFLOW_EXPERIMENT_NAME=meu-projeto-ds-experiments
MLFLOW_MODEL_NAME=meu-projeto-ds-model
MLFLOW_ARTIFACT_LOCATION=
MLFLOW_ENABLE_REGISTRY=true
